body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: #1b1d1e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-transform: uppercase;
  font-size: 2.5em;
  text-align: center;
}


.main-container {
  top: 0;
  position: relative;
  left: 0;
  padding: 60px 20px;
  overflow: hidden;
}

.games-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}